include ../includes/head

h1 Edit profile of #{user.username}

form(action="/u/" + user.username + '?_method=PUT', method="POST")
    input(type="text", name="user[name]" placeholder="First Name", value = user.name required)
    input(type="text", name="user[lastname]" placeholder="Last Name", value=user.lastname)
    //- input(type="text", name="user[username]" placeholder="Username", value=user.username required)
    //- for now, the username will not be available for editing
    input(type="email", name="user[email]" placeholder="Email", value=user.email required)
    input(type="text", name="user[avatar]" placeholder="Avatar", value=user.avatar)
    input(type="tel", name="user[phoneNumber]" placeholder="Phone Number", value=user.phoneNumber)
    input(type="date", name="birthday" placeholder="Birthday", value=user.birthday)
    button Update

include ../includes/footer