include ../includes/head

h1 WELCOME TO TEST 2

h1= user.username
img(src=user.avatar)
p= user.followers.length
p= user.following.length
p= user.birthday
p= user.phoneNumber

include ../includes/footer