include includes/head

h1 This is the dashboard
-
    let name;
    if (currentUser) {
        name = currentUser.name;
        name = name.slice(0, 1).toUpperCase() + name.slice(1).toLowerCase();
    } else {
        name = "null";
    }

h2 Hello #{name}
p Here you'll see the posts of the people you follow
p
    a(href="/post/new")
        button new post
#timeline
    each post in posts
        .post
            p
                a(href="/u/" + post.author.username)
                    strong= post.author.username
                span  - #{post.postDate.toLocaleDateString()}
            - let img = post.image;
            a(href="/post/" + post._id)
                img(src=img width="300px")
            p= post.description
            hr


include includes/footer